<router-outlet></router-outlet>
<!-- <h1>Angular - Review!</h1> -->

<app-cart></app-cart>
<!-- <app-new-course-form></app-new-course-form> -->

<!--
<contact-form></contact-form>
<app-intervivew-test></app-intervivew-test>

<input [appInputFormat] = "'uppercase'"/>
<app-favorite [isFavorite] = "isFavorite" (change)="onChanged($event)">
    <div>content from app component.</div>
</app-favorite>

<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" 
                            [class.active] = "viewMode == 'first'"
                            (click) = "viewMode = 'first'">first View</a></li>
    <li class="nav-item"><a class="nav-link" 
                            [class.active] = "viewMode == 'second'"
                            (click) = "viewMode = 'second'">second View</a></li>
</ul>
<div [ngSwitch] = "viewMode">
    <div *ngSwitchCase = "'first'">first view's content</div>
    <div *ngSwitchCase = "'second'">second view's content</div>
    <div *ngSwitchDefault>some other content</div>
</div>
<bootstrap-panel>
    <ng-container class="header">Header</ng-container>
    <h3 class="body">the title of the body!</h3>
</bootstrap-panel>

<div *ngIf="hasCourse; then courseList else noCourse"></div>
<ng-template #courseList>courseList</ng-template>
<ng-template #noCourse>noCourse</ng-template>

<courses></courses>
-->